{% extends "layouts/package_layout.html" %}

{% block content %}
        <h1 style="margin-bottom: 70px;"> Program List </h1>

                <!-- Dropdown list for search by fields -->
                <div class="operation-area d-flex justify-content-between align-items-center">
                    <form class="d-flex" role="search" action="{{ url_for('programs.search_program') }}" method="get">
                        <select name="column-search" id="column-search" class="form-select-lg me-2">
                            <option value="course_code" {% if column_name == 'course_code' %}selected{% endif %}>Program Code</option>
                            <option value="course_name" {% if column_name == 'course_name' %}selected{% endif %}>Program Name</option>
                            <option value="college_belong" {% if column_name == 'college_belong' %}selected{% endif %}>College</option>
                        </select>
                        <input class="form-control me-2" id="search-query" type="search" placeholder="Search" aria-label="Search" name="search-query" value="{{ searched_data }}" style="width: 700px;">
                        <button class="btn btn-outline-dark" type="submit"><i class="bi bi-search"></i></button>
                    </form>
                    <div class="d-flex justify-content-end">
                        <a href="{{ url_for('programs.program') }}" class="btn btn-light me-2">
                            <i class="bi bi-list"></i> List
                        </a>
                            <a href="{{ url_for('programs.add_program') }}" class="btn btn-dark">
                                <i class="bi bi-plus-lg"></i> Create New
                            </a>
                    </div>
                </div>
            
        <!-- Table -->
          <table class="table table-hover mt-3">
            <thead style="background-color: #7cc404;color: #dfdfdf;">
                <tr> 
                    <th>Program Code</th>
                    <th>Program Name</th>
                    <th>College</th>
                    <th>Actions</th>
                </tr>
            </thead>
            
            <tbody>
                {% for program in programs %}
                    <tr>
                        <td>{{ program[0] }}</td>  <!-- course_code -->
                        <td>{{ program[1] }}</td>  <!-- course_name -->
                        <td>{{ program[2] }}</td>  <!-- college_belong -->
                        <td>
                            <span style="font-size: 24px;">
                                <a href="{{ url_for('programs.edit_program', code=program[0]) }}"> 
                                    <i class="fas fa-edit" style="color: #659406;"></i>
                                </a>
                            </span>

                            <span style="font-size: 24px;"> 
                                <button onclick="confirmDeleteProgram('{{ program[0] }}');" style="background:none;border:none;cursor:pointer;">
                                    <i class="fas fa-trash-alt" style="color: #F44336;"></i>
                                </button>
                            </span>

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}
