{% extends "layouts/package_layout.html" %}

{% block content %}
        <h1>College Page</h1>

        <div class="container">
            <div class="row mb-2 align-items-center mt-5">
                <!-- Search Bar -->
                <div class="col-md-8">
                    <form class="d-flex" method="GET" action="#">
                        <input class="form-control me-2" type="search" placeholder="Search a college" aria-label="Search" name="query">
                        <button class="btn btn-outline-success" type="submit">
                            <i class="bi bi-search"></i>
                        </button>
                    </form>
                </div>
        
                <!-- Buttons -->
                <div class="col-md-4 d-flex justify-content-end">
                    <a href="{{ url_for('college.add_college') }}" class="btn btn-success me-2">
                        <i class="bi bi-plus-lg"></i> Create New
                    </a>
                    <a href="{{ url_for('college.colleges') }}" class="btn btn-light">
                        <i class="bi bi-list"></i> List
                    </a>
                </div>
            </div>
        </div>
        <!-- Table -->
        <table class="table table-hover mt-3">
            <thead style="background-color: #7cc404;color: #dfdfdf;">
                <tr> 
                    <th>College Code</th>
                    <th>College Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            
            <tbody>
                {% for college in colleges %}
                    <tr>
                        <td>{{ college[0] }}</td>  <!-- col_course_code -->
                        <td>{{ college[1] }}</td>  <!-- college_name -->
                        <td>
                            <span style="font-size: 24px;">
                                <a href="#"> 
                                    <i class="fas fa-edit" style="color: #659406;"></i>
                                </a>
                            </span>

                            <span style="font-size: 24px;"> 
                                <button onclick="confirmDeleteCollege('{{ college[0] }}');" style="background:none;border:none;cursor:pointer;">
                                    <i class="fas fa-trash-alt" style="color: #F44336;"></i>
                                </button>
                            </span>

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}