{% extends "layouts/package_layout.html" %}

{% block content %}
        <h1>College Page</h1>

                <!-- Dropdown list for search by fields -->
                <div class="operation-area">
                    <div class="operations">
                      <form class="d-flex" role="search" action="{{ url_for('college.search_college') }}" method="get">
                        <select name="column-college-search" id="column-college-search" class="form-select-lg">
                            <option class="columns-options" value="col_course_code" {% if column_name == 'col_course_code' %}selected{% endif %}>College Code</option>
                            <option class="columns-options" value="college_name" {% if column_name == 'college_name' %}selected{% endif %}>College Name</option>
                        </select>
                        <input class="form-control me-2" id="search-query" type="search" placeholder="Search" aria-label="Search" name="search-query" value="{{ searched_data }}">
                        <button class="btn btn-outline-success" type="submit">
                            <i class="bi bi-search"></i>
                        </button>
                    </form> 

                <!-- Buttons -->
                <div class="col-md-4 d-flex justify-content-end">
                    <a href="{{ url_for('college.add_college') }}" class="btn btn-success me-2">
                        <i class="bi bi-plus-lg"></i> Create New
                    </a>
                    <a href="{{ url_for('college.colleges') }}" class="btn btn-light">
                        <i class="bi bi-list"></i> List
                    </a>
                </div>
            </div>
        </div>
        <!-- Table -->
        <table class="table table-hover mt-3">
            <thead style="background-color: #7cc404;color: #dfdfdf;">
                <tr> 
                    <th>College Code</th>
                    <th>College Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            
            <tbody>
                {% for college in colleges %}
                    <tr>
                        <td>{{ college[0] }}</td>  <!-- col_course_code -->
                        <td>{{ college[1] }}</td>  <!-- college_name -->
                        <td>
                            <span style="font-size: 24px;">
                                <a href="{{ url_for('college.edit_college', code=college[0]) }}"> 
                                    <i class="fas fa-edit" style="color: #659406;"></i>
                                </a>
                            </span>

                            <span style="font-size: 24px;"> 
                                <button onclick="confirmDeleteCollege('{{ college[0] }}');" style="background:none;border:none;cursor:pointer;">
                                    <i class="fas fa-trash-alt" style="color: #F44336;"></i>
                                </button>
                            </span>

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}